.first-main
  .first-main__header.width-size
    .first-main__header__imgage
      = link_to ".." do
        = image_tag "fmarket_logo_red.svg",class:"first-main__header__imgage__size"
    .first-main__header__bar
      %ul.first-main__header__bar__ul
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name 会員情報
          .first-main__header__bar__ul__box__ten0.redback
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name__red 電話番号認証
          .first-main__header__bar__ul__box__ten11.redback
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name お届け先住所入力
          .first-main__header__bar__ul__box__ten22
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name 支払い方法
          .first-main__header__bar__ul__box__ten33
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name 完了
          .first-main__header__bar__ul__box__ten44

  .first-main__box
    .first-main__box__main
      .first-main__box__main__title
        電話番号の確認
      = form_for @user, url: step3_signup_index_path, method: :get, html: {class: "first-main__box__main__form"} do |f|
        .first-main__box__main__form__top
          .first-main__box__main__form__top__group
            .first-main__box__main__form__top__group__title
              .first-main__box__main__form__top__group__title__name 携帯電話の番号
            .first-main__box__main__form__top__group__input
              = f.phone_field :phone_number,placeholder: "携帯電話の番号を入力",class: "input-box"
          = render partial: 'error-messages', locals: {user: @user, column: "phone_number"}
          .first-main__box__main__form__top__sns
            本人確認のため、携帯電話のSNS（ショートメッセージサービス）を利用して認証を行います。
          .first-main__box__main__form__top__button
            = f.submit "次へ進む",class:"submit-scss"
          .first-main__box__main__form__top__sns
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

          .first-main__box__main__form__under__log
            = link_to "#",class:"infox" do
              電話番号の確認が必要な理由＞

  = render "footer"