.first-main
  .first-main__header.width-size
    .first-main__header__imgage
      = link_to ".." do
        = image_tag "fmarket_logo_red.svg",class:"first-main__header__imgage__size"
    .first-main__header__bar
      %ul.first-main__header__bar__ul
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name 会員情報
          .first-main__header__bar__ul__box__ten000.redback
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name 電話番号認証
          .first-main__header__bar__ul__box__ten1111.redback
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name お届け先住所入力
          .first-main__header__bar__ul__box__ten2222.redback
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name__red 支払い方法
          .first-main__header__bar__ul__box__ten3333.redback
        %li.first-main__header__bar__ul__box
          .first-main__header__bar__ul__box__name 完了
          .first-main__header__bar__ul__box__ten4444

  .first-main__box
    .first-main__box__main
      .first-main__box__main__title
        支払い方法
      .first-main__box__main__form
        = form_tag(signup_index_path,method: :post, id: 'charge-form',  name: "inputForm") do
          .first-main__box__main__form__top
            .first-main__box__main__form__top__group
              .first-main__box__main__form__top__group__title
                .first-main__box__main__form__top__group__title__name カード番号
                .first-main__box__main__form__top__group__title__box 必須
              .first-main__box__main__form__top__group__input
                = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
              .first-main__box__main__form__top__group__ame
                = image_tag "amex-logomark-img-04.gif",class:"first-main__box__main__form__top__group__ame__bland"
                = image_tag "diners-logomark-img-01.gif",class:"first-main__box__main__form__top__group__ame__bland"
                = image_tag "discover-logomark-img-08.gif",class:"first-main__box__main__form__top__group__ame__bland"
                = image_tag "jcb-logomark-img-01.gif",class:"first-main__box__main__form__top__group__ame__bland"
                = image_tag "logo_visa.gif",class:"first-main__box__main__form__top__group__ame__bland"

            .first-main__box__main__form__top__group
            #margin
              .first-main__box__main__form__top__group__title
                .first-main__box__main__form__top__group__title__name 有効期限
                .first-main__box__main__form__top__group__title__box 必須
              .first-main__box__main__form__top__group__input
                %select#exp_month{name: "exp_month", type: "text"}
                  %option{value: ""} --
                  %option{value: "1"}01
                  %option{value: "2"}02
                  %option{value: "3"}03
                  %option{value: "4"}04
                  %option{value: "5"}05
                  %option{value: "6"}06
                  %option{value: "7"}07
                  %option{value: "8"}08
                  %option{value: "9"}09
                  %option{value: "10"}10
                  %option{value: "11"}11
                  %option{value: "12"}12
                .first-main__box__main__form__top__group__input__year 月
                %select#exp_year{name: "exp_year", type: "text"}
                  %option{value: ""} --
                  %option{value: "2019"}19
                  %option{value: "2020"}20
                  %option{value: "2021"}21
                  %option{value: "2022"}22
                  %option{value: "2023"}23
                  %option{value: "2024"}24
                  %option{value: "2025"}25
                  %option{value: "2026"}26
                  %option{value: "2027"}27
                  %option{value: "2028"}28
                  %option{value: "2029"}29
                .first-main__box__main__form__top__group__input__year 年

            .first-main__box__main__form__top__group
            #margin
              .first-main__box__main__form__top__group__title
                .first-main__box__main__form__top__group__title__name セキュリティコード
                .first-main__box__main__form__top__group__title__box 必須
              .first-main__box__main__form__top__group__input
                = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"

            .first-main__box__main__form__under__log__xx
              = icon('fas', 'question-circle', class: "icon-color")
              = link_to "#",class:"infox" do
                カード裏面の番号とは？


            #card_token
            = submit_tag "追加する", id: "token_submit"

  = render "footer"